#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 430px) {
  #root {
    padding: 1rem;
  }
}
